# Ignore Python byte-compiled files
__pycache__/

# Ignore .jpg files
*.jpg

# Ignore .session and .session-journal files
*.session
*.session-journal
*.log
*.env
# Ignore download folder (replace 'download' with the actual folder name if different)
download/
env/